<div class="container">
  <div class="footer-container row center">
      <div class="footer-item col-sm-2 store">
          &nbsp;
      </div>
    <div class="footer-item col-sm-3 collapsable-xs">
      <div class="content-asset">
        <!-- dwMarker="content" dwContentID="b737a349d1693d8f60830bd5e9" -->
        <h3 class="title">Account</h3>
        <ul class="menu-footer content">
          <li><a href="{{accountUrl}}" title="Go to My Account">My Account</a></li>
          <li><a href="{{ordersUrl}}" title="Go to Check Order">Check Order</a></li>
          <!-- <li><a href="{{wishlistUrl}}" title="Go to Wish List">Wish List</a></li> -->
          <!-- <li><a href="{{registryUrl}}" title="Go to Gift Registry">Gift Registry</a></li> -->
        </ul>
        <!-- END: footer-account -->
      </div>
      <!-- End content-asset -->
    </div>
    <div class="footer-item col-sm-3 collapsable-xs">
      <div class="content-asset">
        <!-- dwMarker="content" dwContentID="3b7becc6bd186984670d47bdf8" -->
        <h3 class="title">Customer Service</h3>
        <ul class="menu-footer content">
          <li><a href="#" title="Go to Contact Us">Contact Us</a></li>
          <li><a href="#" title="Go to Gift Certificates">Gift Certificates</a></li>
          <li><a href="#" title="Go to Help">Help</a></li>
          <li><a href="#" title="Go to Site Map">Site Map</a></li>
        </ul>
        <!-- END: footer_support -->
      </div>
      <!-- End content-asset -->
    </div>
    <div class="footer-item col-sm-3 collapsable-xs">
      <div class="content-asset">
        <!-- dwMarker="content" dwContentID="cc5499862850b16990090db310" -->
        <h3 class="title">About</h3>
        <ul class="menu-footer content">
          <li><a href="{{contentUrl 'about-us'}}" title="Go to About Us">About Us</a></li>
          <li><a href="{{contentUrl 'privacy-policy'}}"
              title="Go to Privacy">Privacy</a></li>
          <li><a href="{{contentUrl 'terms'}}"
              title="Go to Terms">Terms</a></li>
          <li><a href="{{contentUrl 'jobs-landing'}}"
              title="Go to Jobs">Jobs</a></li>
        </ul>
        <!-- END: footer_about -->
      </div>
      <!-- End content-asset -->
    </div>
  </div>
  <hr class="hidden-xs-down">
  <div class="row">
    <div class="col-lg-4 col-sm-5 push-sm-7 push-lg-8 social">
      <ul class="social-links">
        <li>
          <a class="fa fa-linkedin-square fa-3x" title="Go to LinkedIn" href="https://www.linkedin.com/company/demandware"
            target="_blank"></a>
        </li>
        <li>
          <a class="fa fa-facebook-square fa-3x" title="Go to Facebook" href="https://www.facebook.com/demandware" target="_blank"></a>
        </li>
        <li>
          <a class="fa fa-twitter-square fa-3x" title="Go to Twitter" href="https://twitter.com/demandware" target="_blank"></a>
        </li>
        <li>
          <a class="fa fa-youtube-square fa-3x" title="Go to YouTube" href="https://www.youtube.com/user/demandware" target="_blank"></a>
        </li>
      </ul>
      <button class="back-to-top" title="Resource.msg('button.back_to_top', 'common', null)"><i class="fa fa-arrow-up" aria-hidden="true"></i></button>
    </div>
    <div class="col-lg-8 col-sm-7 pull-sm-5 pull-lg-4 copyright-notice">
      <div class="content-asset">
        <!-- dwMarker="content" dwContentID="e58dea5693c4e42f1c09962e84" -->
        <div class="copyright">© 2004-2018 Salesforce, Inc. All Rights Reserved.</div>
          <div class="postscript"><b>This is a demo Salesforce B2C Commerce storefront. Orders made will NOT be processed.</b></div>
        <!-- SG.103.0.0 -->
      </div>
      <!-- End content-asset -->
    </div>
  </div>
</div>