<div class="row home-main-categories no-gutters">
  <div class="col-sm-8">
    <div class="row no-gutters">
      <div class="col-sm-6">
        <a href="{{categoryUrl 'womens-clothing-dresses'}}">
          <div class="womens-dresses half-height category-tile" style="background-image: url({{staticSharedLibraryUrl '/images/homepage/homepage-5/large.jpg'}}); ">
            <h3 class="hp-category-message">
              Women's Dresses
            </h3>
          </div>
        </a>
      </div>
      <div class="col-sm-6">
        <a href="{{categoryUrl 'womens-jewelry'}}">
          <div class="womens-jewelry half-height category-tile" style="background-image: url({{staticSharedLibraryUrl '/images/homepage/homepage-6/large.jpg'}}); ">
            <h3 class="hp-category-message">
              Women's Jewelry
            </h3>
          </div>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <a href="{{categoryUrl 'womens-clothing-feeling-red'}}">
          <div class="shop-red half-height category-tile" style="background-image: url({{staticSharedLibraryUrl '/images/homepage/homepage-1/large.jpg'}}); ">
            <h3 class="hp-promotion-message">
              Shop Red
            </h3>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="col">
    <a href="{{categoryUrl 'mens-clothing-jackets'}}">
      <div class="mens-jackets full-height category-tile" style="background-image: url({{staticSharedLibraryUrl '/images/homepage/homepage-3/large.jpg'}}); ">
        <h3 class="hp-category-message">
          Men's Jackets
        </h3>
      </div>
    </a>
  </div>
</div>